@import '../../src/app/variables';

// Планшетная адаптация
@media (min-width: 481px) and (max-width: 1024px) {
  .amnesia-menu {
    max-width: 350px;
  }
  
  .projects-section__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .about-section__stats {
    justify-content: space-around;
  }
  
  .contact-section__grid {
    gap: 40px;
  }
}
